body, html{}

/*
*   header
*/

#header{
    width:100%;
    height:80px;
    background-color:#333;
    z-index: 20000;
    position:absolute;
    top:0;
}
#hackfix{height:80px;width:100%}

.header-logo{max-width:300px; position:relative; float:left; }
    .header-logo img{
        width:auto;
        max-height:80px;
        padding:10px;
    }

.nav-items{
    font-weight:500;
    font-size:18px;
    position:relative;
    float:right;
    color:#fff;
    text-transform: uppercase;
}
    .nav-items ul li{display:inline-block;}
    .nav-items ul li+li{padding:0 10px;}
    .nav-items ul li a{line-height:80px; text-decoration:none; color:#fff;}
    .nav-items li.active a{color:#E23237}

    a span.logo{line-height:80px; color:#E23237!important; font-size: 1.5em; text-transform: uppercase;}
/*
*   content
*/
.content{padding:40px 0;}
.content > div + div{padding-top:60px;}
.general-description{text-align:center!important; font-size:16px;}


.row h2{padding-bottom:10px;}

.todoRemove{margin-top:20px;}

thead td{font-weight:bold;}



/*
*   firstsampleanimation
*/
.firstSampleAnimation.ng-hide-add,
.firstSampleAnimation.ng-hide-remove {
    -webkit-transition : 1s ease-in-out opacity;
    -moz-transition    : 1s ease-in-out opacity;
    -ms-transition     : 1s ease-in-out opacity;
    -o-transition      : 1s ease-in-out opacity;
    transition         : 1s ease-in-out opacity;
    opacity            : 1;
}

.firstSampleAnimation.ng-hide {
    opacity : 0;
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* slide out from the top */
@keyframes slideOutUp {
    from    { transform: translateY(0); }
    to      { transform:translateY(-100%); }
}

/* fade out */
@keyframes fadeOut {
    from    { opacity:1; }
    to      { opacity:0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

.ng-enter           { animation: scaleUp 0.3s both; z-index: 800;  animation-delay:0.2s; }
.ng-leave           { animation: fadeOut 0.2s both; z-index: 900;}
