<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h1>Delete article by ID</h1>
                <form name="deleteForm">
                <input type="number" ng-model="idValue" required>
                <button ng-click="getArticle()" ng-disabled="deleteForm.$invalid">OK</button>
                </form>
                {{ articleError }}
            </div>
        </div>
    </div>
</div>