<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h1>Edit article</h1>
                <form name="postForm">
                    <input placeholder="ID" type="number" ng-model="articleId" required>
                    <input placeholder="New name" type="text" ng-model="articleName">
                    <button ng-click="editArticle()" ng-disabled="postForm.$invalid">OK</button>
                </form>
            </div>
        </div>
    </div>
</div>