<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h1>Get article by ID</h1>
                <form name="getForm">
                    <input type="number" ng-model="idValue" required>
                    <button ng-click="getArticle()" ng-disabled="getForm.$invalid">OK</button>
                </form>
                {{ articleError }}
                <table class="table" ng-show="getArticles.id != null">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Title</td>
                            <td>Category</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ getArticles.id }} </td>
                            <td> {{ getArticles.title }} </td>
                            <td> {{ getArticles.category}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>