<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <h1>This is an attempt for a news site.</h1>
            </div>
        </div>
    </div>
</div>