<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h1>Post a new article</h1>
                <form name="postForm">
                <input placeholder="Name" type="text" ng-model="articleName" required>
                <button ng-click="postArticle()" ng-disabled="postForm.$invalid">OK</button>
                </form>
                {{results}}
            </div>
        </div>
    </div>
</div>